<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>사이트제목</h1>
      </div>
      <div id="sidebar">
        <h2>사이드 바</h2>
      </div>
      <div id="contents">
        <h2>본문</h2>
        <p>
          국가는 전통문화의 계승·발전과 민족문화의 창달에 노력하여야 한다.
          사면·감형 및 복권에 관한 사항은 법률로 정한다. 대한민국의 국민이 되는
          요건은 법률로 정한다. 지방의회의 조직·권한·의원선거와 지방자치단체의
          장의 선임방법 기타 지방자치단체의 조직과 운영에 관한 사항은 법률로
          정한다.
        </p>

        <p>
          국가는 노인과 청소년의 복지향상을 위한 정책을 실시할 의무를 진다.
          정부는 회계연도마다 예산안을 편성하여 회계연도 개시 90일전까지 국회에
          제출하고, 국회는 회계연도 개시 30일전까지 이를 의결하여야 한다. 국회는
          헌법 또는 법률에 특별한 규정이 없는 한 재적의원 과반수의 출석과
          출석의원 과반수의 찬성으로 의결한다. 가부동수인 때에는 부결된 것으로
          본다.
        </p>
      </div>
      <div id="footer">
        <h2>푸터</h2>
        <ul>
          <li>
            모든 국민은 고문을 받지 아니하며, 형사상 자기에게 불리한 진술을
            강요당하지 아니한다.
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
