<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      img {
        vertical-align: top;
      }
      .box {
        border: 1px solid black;
        padding: 10px;
        position: relative;
      }
      .a {
        background: blue;
        left: 50px;
        top: 50px;
      }
      .b {
        background: red;
        left: 50px;
        top: 50px;
      }
    </style>
  </head>
  <body>
    <!-- 
        position: relative;

        위치 상 요소 자신을 기준으로 배치
     -->
    <div class="box a">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <div class="box b">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <p>
      국군은 국가의 안전보장과 국토방위의 신성한 의무를 수행함을 사명으로 하며,
      그 정치적 중립성은 준수된다. 새로운 회계연도가 개시될 때까지 예산안이
      의결되지 못한 때에는 정부는 국회에서 예산안이 의결될 때까지 다음의 목적을
      위한 경비는 전년도 예산에 준하여 집행할 수 있다.
    </p>
  </body>
</html>
