<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
          * {
            margin: 0;
            padding: 0;
          }
          body {
            height: 4000px;
          }
          img {
            vertical-align: top;
          }
          .box {
            border: 1px solid black;
            position: absolute;
            right: 100px;
            bottom: 100px;
          }
        </style>
      </head>
      <body>
        <!-- 
          position: absolute;

          위치 상 부모 요소를 기준으로 배치
          부모요소 : position 값이 부여된 다른 요소
                    position 값이 부여된 요소가 없다면 화면이 기준임
         -->
        <div class="box">
          <img src="https://placehold.co/100x120" alt="" />
        </div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit quod
          ipsum rem molestiae voluptatum. Hic minima deleniti nesciunt ullam
          voluptas tenetur corporis quidem repellat asperiores ipsam ut
          necessitatibus consectetur, facere laudantium dolorem laboriosam
          ratione temporibus harum error aspernatur nemo quos libero? Saepe,
          similique dolorum nihil dolorem deserunt nobis, eligendi ea dolor,
          odit a error. Accusamus iure earum tenetur ullam, quis ipsam nostrum
          unde officia repellat amet beatae ipsa nihil nobis aperiam sunt
          aspernatur dolorum omnis ab harum porro laborum quidem est veritatis!
          A iusto, sapiente alias adipisci eaque facilis hic rem porro deserunt
          inventore explicabo molestiae asperiores. Esse, nisi porro at nesciunt
          odit recusandae cumque error ea qui, est, mollitia ipsa rem?
          Laboriosam odit repudiandae a ipsum voluptatum nisi dolorum sit
          doloremque explicabo modi, repellat, iusto molestiae velit. Maiores,
          odio ullam? Error ipsa a eveniet magnam tenetur quasi iure saepe
          libero atque? Culpa officia eaque commodi facere ea sequi illum
          repellat, mollitia modi corporis, rerum laboriosam ad dolore quia
          aliquid aperiam pariatur eum at eligendi incidunt? Odio vero fugit
          odit beatae, unde magni, maiores expedita soluta inventore rerum quam
          eaque? Reprehenderit et, laudantium ducimus similique illum fugit
          iusto consequatur in doloremque perspiciatis! Nihil expedita, ab animi
          necessitatibus aut dignissimos saepe, voluptate libero accusantium
          illo corporis in facilis voluptas reiciendis fugiat. Odio nisi vitae
          aspernatur ea ipsum dolor dolore quod officia? Quasi eum est nesciunt
          molestias omnis, ab fuga impedit, corrupti mollitia unde numquam
          ratione voluptate quae aut cumque sequi dolores doloribus obcaecati
          neque voluptates? Tempora repellat dignissimos accusamus est dolores
          temporibus nobis laborum aliquid voluptatem? Assumenda incidunt
          quaerat porro a earum temporibus possimus quia blanditiis. Atque nulla
          iste tenetur! Totam vero eaque vitae ab optio illo cumque sequi aut
          maiores molestias asperiores praesentium accusantium, cum explicabo
          quod perspiciatis sint repudiandae mollitia beatae eius. Sit placeat
          odio, sed quidem assumenda eveniet. Enim dicta accusamus cumque
          repellendus exercitationem iste optio commodi vitae quidem
          consequuntur animi inventore sequi ad consequatur aperiam, sed soluta
          adipisci officiis vel, reiciendis asperiores repudiandae excepturi
          recusandae consectetur. Expedita necessitatibus sit fuga, a, modi
          quasi saepe, voluptas at perspiciatis consequuntur blanditiis?
          Inventore, libero, cumque commodi dolorum quisquam distinctio eos,
          dolores corporis doloribus quia atque beatae optio facere odit? Harum
          eligendi nostrum temporibus facilis alias hic eaque sint itaque esse
          accusamus laboriosam quae odit molestias repellat officia recusandae,
          nobis, error eius nam dolor mollitia tempora labore totam iste! Facere
          dolores sit est facilis distinctio laboriosam? At, consequuntur in
          quaerat magni ea consectetur aliquid obcaecati cumque enim reiciendis
          sit perferendis provident natus ab alias assumenda nobis sapiente
          soluta, et velit? Vitae tempore debitis labore expedita qui error
          nobis, repellat, non ex veniam vel illum id ut possimus obcaecati nam.
          Corrupti eum omnis, cum quam hic, magnam in harum, quod suscipit
          voluptates accusantium dolore cupiditate quos voluptas? Modi
          dignissimos quasi ex facere voluptates, porro accusantium facilis,
          sunt laboriosam illum iste possimus earum repellendus suscipit, ea
          pariatur eum itaque animi sapiente eius labore! Rem quaerat doloremque
          iure necessitatibus cum, unde temporibus odio perspiciatis eligendi
          recusandae, minima mollitia. Aliquam incidunt tempora quo eligendi ut!
        </p>
      </body>
    </html>
  </body>
</html>
