<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- semantic tag : 태그만 보고도 페이지 구조를 이해할 수 있도록 정의된 태그 
         header, nav, saide, section, article, main, footer == div로 정의하는것과 같음(블럭요소)
    -->
    <header>
      <!-- <div id="nav"> 시멘틱태그를 사용 안했을 때 대체가능-->
      <h1>애완견 종류</h1>
      <nav>
        <!-- div id="nav"> -->
        <ul>
          <li><a href="#">애완견 종류</a></li>
          <li><a href="#">입양하기</a></li>
          <li><a href="#">건강돌보기</a></li>
          <li><a href="#">더블어 살기</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <h2>활달한강아지</h2>
      <article>
        <h3>요크셔테리어</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
          atque deserunt qui hic recusandae placeat voluptas magnam, doloremque
          voluptates rerum sequi, delectus soluta ratione beatae ipsam
          exercitationem, esse aperiam minus!
        </p>
      </article>
    </section>
  </body>
</html>
